:root {
    
}
body {
    font-family: Roboto;
    background-color: #F9F7DC;
}

.App {
    height: 100vh;
}

/*
 * LANDING COMPONENT CSS
 */

.landing {
    height: 100%;
}

.landingActionZone {
    text-align: center;
}

.registerCard {
    color: #5EBD78;
}

.loginCard {
    color: #15878F;
}

/*
 * END
 */
